name: C DS Library CI

on:
    push:
      branches: [ "generic-ds" ]
    pull_request:
      branches: [ "generic-ds" ]

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install build tools
              run: |
                sudo apt-get update
                sudo apt-get install -y cmake gcc

            - name: Configure
              run: cmake -S . -B build

            - name: Build
              run: cmake --build build

            - name: Run tests
              run: |
                cd build
                ctest --output-on-failure || (
                  ./test_list_generic &&
                  ./test_stack_generic &&
                  ./test_queue_generic
                )